# User game files
game_log.txt

# The GitHub Actions workflow files CI/CD costs too much to build the code repo in GitHub after
# every commit, so we ignore the workflow files. It's for learning purposes only.
GitHub/

# Ignore the build directory
build/
